*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
}

.header-container {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.logo,
.logo-image {
  height: 20px;
}

.search-general-container {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  flex-grow: 1;
}

.search-container {
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.search-bar {
  height: 32px;
  padding: 0.25rem 0.5rem;
  border: 1px solid #CCC;
  flex-grow: 1;
}

.search-button {
  cursor: pointer;
  height: 32px;
  background-color: #EDEDED;
  padding: 0.25rem 1rem;
  border: 1px solid #CCC;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button-icon {
  width: 24px;
  height: 24px;
}

.general-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.general-container img {
  cursor: pointer;
}

.general-container-icon {
  width: 36px;
  height: 36px;
  background-color: #AAA;
  overflow: hidden;
  border-radius: 100%;
}

.categories-container {
  max-width: 100%;
  padding: 1rem 2rem;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
}

.category-item {
  cursor: pointer;
  background-color: #EDEDED;
  min-width: max-content;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 99px;
}

.category-item:hover {
  opacity: 0.8;
}

.active {
  background-color: #555;
  color: white;
}

.videos-container {
  background-color: #f8f8f8;
  padding: 0 2rem;
}

.videos-section-container {
  width: 100%;
  padding: 3rem 0;
  border-bottom: 2px solid #555;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem 1rem;
}

.videos-section-container:last-child {
  border-bottom: none;
}

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}

.video-image {
  cursor: pointer;
  width: 100%;
  aspect-ratio: 5 / 3;
}

.video-info-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}

.video-channel-image {
  cursor: pointer;
  border-radius: 100%;
}

.video-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  flex-grow: 1;
}

.video-title {
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
}

.video-data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.video-channel-name {
  cursor: pointer;
}

.video-channel-name,
.video-data {
  font-size: 0.9rem;
  color: #555;
}

.videos-section-header {
  padding: 2rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.videos-header-close {
  cursor: pointer;
}

.videos-header-title,
.videos-header-close {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .general-container>img {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .search-container {
    display: none;
  }

  .search-general-container {
    justify-content: flex-end;
  }
}